@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700');

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cabin', sans-serif;
}

li {
  list-style: none;
}

audio{
  float: left;
  margin: 5px;

}

video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%); /* super important to move it yo! */
  /*background: url('../static.gif') no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}

a:focus {
  outline: none;
  color: #fff;
}

.button {
  border: none;
  box-shadow: 0px 0px 14px 1px #FF00FF;
  border-radius: 12px;
}

.button:hover, .button:focus {
  background: rgba(0,0,0,.7);
  color: #FF00FF;
}

.logo {
  margin-top: 5vh;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}
.title {
  margin-bottom:20px;
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 10px #FF00FF);
  filter: drop-shadow(0px 0px 10px #FF00FF);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;

}

.logo-small {
  margin-top: 1vh;
}

.logo-small .title {
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  opacity: .5;
}

.logo-small .gargantuan-btn {
  display: none;
} 


.search-submit, .channel-create, .reset {
  background: black;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.underline {
  margin-top: 15px;
  border-top: 1px dotted black;
}

.search-list .button {
  background: black;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.gargantuan-btn {
  background: url(../images/brush.png) no-repeat;
  -webkit-filter: drop-shadow(0px 0px 10px #FF00FF);
  filter: drop-shadow(0px 0px 10px #FF00FF);
  display: inline-block;
  margin: 20px 0;
  padding: 38px;
  color: white;
  background-size: contain;
  background-position: center;
  font-weight: 700;
  font-size: 26px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.gargantuan-btn:hover {
  transform: rotate(10deg);
}

.channelList {
  padding-bottom: 200px;
  padding-top: 20px;
  overflow: hidden;
}

.small-12 .channelButton {
  min-height: 90px;
}

.channelButton {
  background: url(../images/brush.png) no-repeat;
  color: white;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  min-height: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  -webkit-filter: drop-shadow(0px 0px 10px #FF00FF);
  filter: drop-shadow(0px 0px 10px #FF00FF);
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.channelButton:hover {
  transform: rotate(10deg);
}

.track-player {
  height: 12vh;
  min-height: 140px;
  background: rgba(255,255,255,0.3);
  border-top:4px solid #FF00FF;
  overflow: visible;
}

.off-canvas.is-transition-overlap.is-open {
   
}

.music-information {
  margin-top: 15px;
  font-size: 18px;
}

.playlist-info {
  font-weight: 700;
}

.display-buttons {
  position: fixed;
  padding-left:10px;
  bottom: 1vh;
  z-index: 999;
}
.display-buttons button {
  background: black;
  font-weight: 700;
  font-size: 16px;
}


.playlist-btn-container button{
  background: black;
  font-weight: 700;
  font-size: 16px;
  margin: 4px;
}


.playlist-btn-container .active-btn {
  background-color: rgba(0,0,0,0.7);
  color: #FF00FF;
}

.video-info {
  font-weight: 700;
  margin-bottom:5px;
}

.js-off-canvas-overlay {
  display: none !important;
}

.credits {
  color: #fff;
}
.credits:hover {
  text-decoration: underline;
  color: #fff;
}


#audioControl{
  display: block;
  margin-top: 10px;
}

#audioControl i {
  font-size: 75px;
  line-height: 70px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#channel-modal {
  max-height: 80vh;
  padding: 20px;
  background: rgba(255,255,255,0.9);
  border: 5px solid black;
  -webkit-filter: drop-shadow(0px 0px 10px #FF00FF);
  filter: drop-shadow(0px 0px 20px #FF00FF);
}

#channel-menu {
  border:4px solid black;
  background-color: rgba(255,255,255,0.7);
  -webkit-filter: drop-shadow(0px 0px 10px #FF00FF);
  filter: drop-shadow(0px 0px 20px #FF00FF);
}