/*ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style-position: inside;
}*/

li {
  list-style: none;
}

.trackPlayer {
  height: 10vh;
}

.showButton {
  position: fixed;
  margin: auto;
  bottom: 100px;
}

.js-off-canvas-overlay {
  display: none !important;
}

#audioControl{
  display: inline-block;

}

#prevButton{
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  float: left;
  margin: 5px;

}

audio{
  float: left;
  margin: 5px;

}

#skipButton{
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  float: left;
  margin: 5px;
}