@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700');

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

audio{
  float: left;
  margin: 5px;

}

video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%); /* super important to move it yo! */
  /*background: url('../static.gif') no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}

.logo {
  margin-top: 5vh;
}
.title {
  margin-bottom:20px;
  opacity: 1;
  -webkit-filter: drop-shadow(8px 8px 20px lime);
  filter: drop-shadow(8px 8px 20px lime);
  animation: ease-in-out;
  animation-duration: 1s;
}
.title:hover {
  opacity: .7;
}

.gargantuan-btn {
  background: url(../images/brush.png) no-repeat;
  display: block;
  padding: 38px;
  color: white;
  background-size: contain;
  background-position: center;
  font-weight: 700;
  font-size: 26px;
}

.channelList {
  padding-bottom: 200px;
}

.channelButton {
  background: url(../images/brush.png) no-repeat;
  opacity: .8;
  color: white;
  background-size: contain;
  background-position: center;
  min-height: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  font-weight: 700;
  -webkit-filter: drop-shadow(8px 8px 20px lime);
  filter: drop-shadow(8px 8px 20px lime);
  cursor: pointer;
}

.track-player {
  height: 10vh;
  min-height: 125px;
  background: rgba(255,255,255,0.3);
}

.off-canvas.is-transition-overlap.is-open {
  box-shadow: none;
}

.music-information {
  margin-top: 20px;
  font-size: 18px;
}

.playlist-info {
  font-weight: 700;
}

.display-buttons {
  position: fixed;
  margin: auto;
  bottom: 15vh;
}

.show-channels {
  float: right;
}

.js-off-canvas-overlay {
  display: none !important;
}


#audioControl{
  display: block;
  margin-top: 10px;
}

#audioControl i {
  font-size: 75px;
  line-height: 70px;
  margin: 10px;
  padding: 10px;
}

#channel-modal {
  max-height: 80vh;
  padding: 20px;
}