li {
  list-style: none;
}

audio{
  float: left;
  margin: 5px;

}

.logo {
  margin-top: 10vh;
}
.track-player {
  height: 10vh;
  min-height: 150px;
}

.show-button {
  position: fixed;
  margin: auto;
  bottom: 15vh;
}

.show-channels {
  position: fixed;
  margin: auto;
  bottom: 15vh;
  right: 0;
}

.js-off-canvas-overlay {
  display: none !important;
}


#audioControl{
  display: inline-block;

}

#prevButton{
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  float: left;
  margin: 5px;

}

#skipButton{
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  float: left;
  margin: 5px;
}